<h1> Product Index (root)</h1>

<form method="POST"  action= "<%= products_add_path %>" >
    <input type="text" id="product" placeholder="Enter product name" name="name"></input>
    <input type="submit" id="add to cart">
</form>

<% @products.each do |product| %>
    <%= product.name %>

<% end %>
