
<form method="POST"  action= "/products" >
    <input type="text" id="product" placeholder="Enter product name" name="product[name]"></input>
    <input type="submit" id="add to cart">
</form>


<% session[:cart].each do |product| %>
    <%= product %>
<% end %>



